@media screen and (max-width:1000px){
    header{
        flex-direction: column;
        position: relative;
    }
    #menubar{
        width: 1.5rem;
        height: 1.5rem;
    }
    
    #closebar{
        width: 2.2rem;
        width: 2.2rem;
        display: none;
    }
    header .h-left{
        position: absolute;
        width: 100%;
        height: 93%;
        top: 7%;
        display: none;
        z-index: 100000000000000000000;
    }
    
    header .h-left img{
        width: 5.5rem;
        height: 5.5rem;
    }
    header .h-left h1{
        font-size: 26px;
     }
    header .h-left nav ul li a{
        font-size: 16px;
        
    }
    header .h-left .icons .ins img{
        width: 3rem;
        height: 3rem;
    }
    header .h-right{
        width: 100%;
        background-size: cover;
    }
    header  .logo{
        width: 92%;
        text-align: start;
        display: flex;
        height: 10vh;
        align-items: center;
        /* justify-content: space-between; */
    }
    header  .logo h2{
        font-size: 28px;
        width: 90%;
        margin: auto;
        text-align: start;
    }
    header  .logo a{
        font-size: 28px;
        width: 90%;
        margin: auto;
        text-align: start;
    }
    header  .menu{
        display: block;
    }
    header .h-right .intro h3{
        font-size: 34px;
    }
    header .h-right .intro h6{
        font-size: 22px;
    }
    

    /* ABOUT HTML */
    .cont .about{
        padding-bottom: 1rem;
    }
    header .about{
        width: 100%;
    }
    .about .about-c{
        flex-direction: column;
        margin-top: 2rem;
    }
    .about .about-c .about-img{
        width: 52%;
        height: 30vh;
       margin-bottom: 2rem;
    }
    .about .about-c .about-img img{
    width: 94%;
    height: 94%;
}
    .about .about-c .about-txt{
        width: 90%;
    }
    .about .about-c .about-txt button{
     width: 55%;
     font-size: 17px;
    }
    .about .about-c .about-txt h2{
        font-size: 20px;
    }
    
    .about .about-c .about-txt p{
        font-size: 16px;
    }
    .about .about-c .about-txt .numbers{
    flex-direction: column;
}
.about .about-c .about-txt .numbers .one{
    width: 100%;
}
    

    /* SKILLS HTML */
   .about .skills{
        flex-direction: column-reverse;
    }
    .skill{
        width: 78%;
        height: 35vh;
        margin-bottom: 1.5rem;
    }

    .bars{
        padding-top: .9rem;
    }
    .bars h5{
        font-size: 16px;
        margin-bottom: .4rem;
    }
    .progress{
        height: .8rem;
    }
    .progress .progress-bar{
        height: .8rem;
    }

    /* SERVICES */
    .cont{
        height: auto;
     }
    .con form .serv{
        width: 90%;
       
     }
     .services .serv-grid{
        grid-template-columns: 1fr 1fr;
    }
    .services .serv-grid .serv1{
        height: auto;
        margin-bottom: 1rem;
    }
    
    .services h2{
        font-size: 30px;
    }
    .services .serv-grid .serv1 h3{
        font-size: 20px;
        margin: .5rem 0;
     }
     .services .serv-grid .serv1 p{
       font-size: 16px;
     }
     .s-button button{
        width: 44%;
        font-size: 16px;
        margin-bottom: 1rem;
     }

     /* CONTACT HTML */
 .con form {
    width: 90%;
 }
 .con form .serv input{
    height: 35px;
 } 
 .con form .serv textarea{
    height: 80px;
    margin-bottom: 1rem;
 } 
 .reach{
    width: 100%;
    text-align: center;
 }
  .reach .reach1{
    width: 100%;
    margin: 0;
    
 } 
 

     
}

@media screen and (max-width:600px){
    .ser{
        height: auto;
    }
    .sers{
        padding-bottom: 1rem;
    }
    
    /* CONTACT HTML */
    .con form {
        width: 95%;
        margin: auto;
    }
    .con form .serv input{
        height: 30px;
        margin-bottom: .2rem;
    } 
    .con form .serv textarea{
        height: 70px;
        margin-bottom: .5rem;
    } 

    }
    @media screen and (max-width:530px){
        .services .serv-grid{
            grid-template-columns: 1fr;
        }
    }
    

@media screen and (max-width:400px){
    
    .con form {
        width: 95%;
     }
    
    .reach .reach1{
        width: 80%;
     }
     .reach .reach1 a{
        font-size: 14px;
     }
}

